{{ $page := . }}

<footer class="mb-3" id="paige-footer">
    {{ if templates.Exists "partials/paige/footer-first.html" }}
        {{ partial "paige/footer-first.html" . }}
    {{ end }}

    <p class="mb-0 text-center text-secondary" id=paige-copyright>© <a href="https://fuadefendi.com/" target="_blank">Fuad Efendi</a>, <a href="https://www.tokenizer.ca/" target="_blank">Tokenizer Inc.</a></p>

    {{ if templates.Exists "partials/paige/footer-last.html" }}
        {{ partial "paige/footer-last.html" . }}
    {{ end }}
</footer>